@import "../../global.scss";

.profilePicture {
  width: 175px;
  height: 175px;
  margin-top: 150px;
  margin-bottom: 0px;
  border: 7px solid #f4f4f4;
  border-radius: 50%;
  //box-shadow: 0 0 5px #737373;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.editPfp {
  ion-icon {
    position: absolute;
    top: 30%;
    left: 220px;
    background-color: white;
    border-radius: 30%;
    border: 2px solid $gc-secondary;
    color: $gc-secondary;
    font-size: 30px;
  }
}

.userInfo {
  display: flex;
  flex-flow: row;
  justify-content: center;
  div {
    display: block;
  }

  h2 {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
  }

  p {
    text-align: center;
    margin-top: 0px;
    font-size: 16px;
    color: gray;
  }
}

.background {
  position: absolute;
  margin: 0px;
  height: 240px;
  width: 100%;
}

ion-item {
  margin-top: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  ion-label {
    color: $gc-secondary;
  }
}

.centerer {
  text-align: center;

  ion-button {
    margin-bottom: 20px;
    margin-top: 45px;
  }
}

#cancelButton {
  margin-right: 35px;
}

.infoMessage {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: $gc-primary;
  margin-top: 5px;
  ion-icon {
    font-size: 18px;
    display: block;
  }
  p {
    font-size: 13px;
    display: block;
  }
}

form {
  margin-top: 0px;
  .editUsername {
    margin-top: 0px;
  }
}

.validation-errors {
  margin-left: 33px;

  .error-message {
    margin-top: 4px;
    color: $gc-danger;
    font-size: 11px;
  }
}
