<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <ion-icon
        class="back-arrow"
        name="arrow-round-back"
        (click)="navBack()"
      ></ion-icon>
      <ion-title>profileEdit</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="background" src="../../assets/Gc-Settings.jpeg" />

  <div class="editPfp">
    <ion-avatar class="profilePicture"
      ><img src="{{ profileArray.filename }}"
    /></ion-avatar>
    <ion-icon name="camera"></ion-icon>
  </div>

  <div class="infoMessage">
    <ion-icon name="information-circle-outline"></ion-icon>
    <p>Only fill in the fields you'd like to edit</p>
  </div>

  <form class="form" [formGroup]="editForm">
    <ion-item class="editUsername">
      <ion-label position="floating">New username</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="profileEdit.username"
        (ionBlur)="usernameCheck()"
        name="Username"
        formControlName="username"
      ></ion-input>
    </ion-item>
    <div class="validation-errors">
      <div
        class="error-message"
        *ngIf="editForm.controls.username.status === 'INVALID'"
      >
        Username must be at least 3 characters long.
      </div>
      <div id="editUserNameError" class="error-message"></div>
    </div>

    <ion-item>
      <ion-label position="floating">New email</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="profileEdit.email"
        name="Email"
        formControlName="email"
      ></ion-input>
    </ion-item>
    <div class="validation-errors">
      <div
        class="error-message"
        *ngIf="editForm.controls.email.status === 'INVALID'"
      >
        Please enter a valid email.
      </div>
    </div>

    <ion-item>
      <ion-label position="floating">New password</ion-label>
      <ion-input
        type="password"
        (ionBlur)="passwordCheck()"
        [(ngModel)]="profileEdit.password"
        name="Password"
        formControlName="password"
      ></ion-input>
    </ion-item>
    <div class="validation-errors">
      <div
        class="error-message"
        *ngIf="editForm.controls.password.status === 'INVALID'"
      >
        Password must be at least 5 characters long.
      </div>
    </div>

    <ion-item>
      <ion-label position="floating">Re-type password</ion-label>
      <ion-input
        type="password"
        (ionBlur)="passwordCheck()"
        [(ngModel)]="re_password"
        name="Password"
        formControlName="re_password"
      ></ion-input>
    </ion-item>
  </form>

  <div class="centerer">
    <ion-button id="cancelButton" class="buttons" (click)="navBack()"
      >Cancel</ion-button
    >
    <ion-button
      type="submit"
      class="buttons"
      (click)="passwordCheck()"
      (click)="editInfo()"
      >Update</ion-button
    >
  </div>
</ion-content>
