<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <ion-icon
        class="back-arrow"
        name="arrow-round-back"
        (click)="navBack()"
      ></ion-icon>
      <ion-title>profileEdit</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="background" src="../../assets/Gc-Settings.jpeg" />

  <ion-avatar class="profilePicture"
    ><img src="{{ profileArray.filename }}"
  /></ion-avatar>

  <div class="infoMessage">
    <ion-icon name="information-circle-outline"></ion-icon>
    <p>Only fill in the fields you'd like to update</p>
  </div>

  <form class="form">
    <ion-item class="username">
      <ion-label id="userField" position="floating">New username</ion-label>
      <ion-input
        type="text"
        name="Username"
        [(ngModel)]="profileEdit.username"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">New email</ion-label>
      <ion-input
        type="text"
        name="email"
        [(ngModel)]="profileEdit.email"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">New password</ion-label>
      <ion-input
        type="password"
        name="password"
        [(ngModel)]="profileEdit.password"
      ></ion-input>
    </ion-item>
  </form>

  <div class="centerer">
    <ion-button ion-button type="submit" class="buttons" (click)="editInfo()"
      >Update</ion-button
    >
  </div>
</ion-content>
