<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <ion-icon
        class="back-arrow"
        name="arrow-round-back"
        (click)="navBack()"
      ></ion-icon>
      <ion-title>player</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img
    [src]="
      'http://media.mw.metropolia.fi/wbma/uploads/' + this.postData.filename
    "
  />

  <video *ngIf="videoContent" width="320" height="240" controls>
    <source
      [src]="
        'http://media.mw.metropolia.fi/wbma/uploads/' + this.postData.filename
      "
    />
  </video>
  <audio *ngIf="audioContent" controls>
    <source
      [src]="
        'http://media.mw.metropolia.fi/wbma/uploads/' + this.postData.filename
      "
    />
  </audio>
  <ion-item class="profile">
    <img [src]="this.getImg()" />
    <div class="title">
      <p>{{ this.postData.title }}</p>
      <p class="user">by {{ this.postData.user_id | userData | async }}</p>
    </div>
  </ion-item>
  <div class="centerer">
    <section class="description">
      <h2 class="title centerer">{{ this.description.name }}</h2>
      <div class="ingredients" *ngFor="let ing of this.description.ingredient">
        <span class="single">{{ ing.name }}</span>
        <span class="single">{{ ing.amount }}</span>
      </div>
      <div class="instructions">
        {{ this.description.instructions }}
      </div>
    </section>
  </div>
  <ion-item-divider></ion-item-divider>
  <h3 class="centerer comment-header">Comments</h3>
  <form [formGroup]="commentForm">
    <div
      class="error-message"
      *ngIf="
        commentForm.get('comment').status === 'INVALID' &&
        (commentForm.get('comment').dirty || commentForm.get('comment').touched)
      "
    >
      The comment must be at least 3 characters long.
    </div>
    <div class="comment-box">
      <ion-textarea
        class="comment-area"
        placeholder="Type your comment here..."
        type="text"
        formControlName="comment"
        maxLength="255"
        (ionChange)="test()"
      ></ion-textarea>
    </div>

    <ion-button class="centerer" (click)="postComment()"
      >Post comment</ion-button
    >
  </form>

  <div *ngFor="let comment of commentArray">
    <ion-card class="comment-container">
      <ion-icon
        *ngIf="comment.ownComment"
        (click)="deleteComment(comment)"
        class="del"
        name="close"
      ></ion-icon>
      <ion-card-content>
        <div class="comment-info">
          <p class="user">{{ comment.username }}</p>
          <p class="time">{{ comment.time_added | date: "dd/MM/yyyy" }}</p>
        </div>
        <p class="comment">{{ comment.comment }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
