@import "../../global.scss";

.gcLogo {
  margin-top: 10%;
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ion-item {
  margin-top: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  ion-label {
    color: $gc-secondary;
  }
}

.centerer {
  text-align: center;
}

.buttons {
  margin-top: 45px;
}

#register {
  margin-top: 15px;
  font-size: 12px;
}

.validation-errors {
  margin-left: 33px;

  .error-message {
    margin-top: 4px;
    color: $gc-danger;
    font-size: 11px;
  }
}

.margin {
  margin-top: 17%;
}
