@import "../../global.scss";

:host {
  ion-content {
    --background: #f4f4f4;
  }
}

.gcLogo {
  margin-top: 15px;
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

:host {
  --ion-item-background: #f4f4f4;
  --highlight-background: #f4f4f4;
  --background-focused: #f4f4f4;
}

ion-item {
  margin-top: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  ion-label {
    color: $gc-secondary;
  }
}

.centerer {
  text-align: center;
}

.buttons {
  margin-top: 45px;
  color: $gc-light;
  --background: #64ad4e;
}

#register {
  color: $gc-secondary;
  margin-top: 15px;
  font-size: 12px;
  --color-activated: #64ad4e;
}

.validation-errors {
  margin-left: 33px;

  .error-message {
    margin-top: 4px;
    color: $gc-danger;
    font-size: 11px;
  }
}

.margin {
  margin-top: 10px;
}
