.ingredient {
  width: 100%;
  box-shadow: 1;
}

.amount {
  width: 100%;
}

.uploadCenterer {
  display: flex;
  justify-content: center;
}

.uploadInfo {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.vl {
  border-left: 2px solid #64ad4e;
  height: 32px;
  padding-left: 8px;
}

.textarea {
  border: 1px solid gray;
  border-radius: 4px;
  .text {
    height: 180px;
  }
}

.flex-row {
  display: flex;
  flex-flow: row;
}
