<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <ion-icon
        class="back-arrow"
        name="arrow-round-back"
        (click)="navBack()"
      ></ion-icon>
      <ion-title>Upload files</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2 class="uploadCenterer">Post a recipe!</h2>
  <form [formGroup]="uploadForm" (ngSubmit)="getDescription(uploadForm.value)">
    <ion-item>
      <ion-label position="floating">Food Title</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="this.fileTitle"
        formControlName="name"
      ></ion-input>
    </ion-item>

    <h3 class="uploadCenterer">Ingredients</h3>
    <ion-list>
      <!-- Assign the technologies FormArray to the form
              where we want to track/generate new input track fields -->
      <div formArrayName="ingredient">
        <!-- Assign a FormGroupName property binding to track
                 and manage each separate generated input field.
                 Also iterate through the technologies FormArray to
                 correctly track/render new input fields against
                 existing fields -->
        <section
          [formGroupName]="i"
          *ngFor="
            let ing of uploadForm.controls.ingredient.controls;
            let i = index
          "
        >
          <ion-item-group>
            <ion-item>
              <ion-row>
                <ion-col size="9">
                  <ion-input
                    formControlName="name"
                    class="ingredient"
                    type="text"
                    placeholder="Ingredient name"
                  ></ion-input>
                </ion-col>
                <ion-col class="flex-row" size="3">
                  <span class="vl"></span>
                  <ion-input
                    formControlName="amount"
                    class="amount"
                    type="text"
                    placeholder="Amount"
                  ></ion-input>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-item-group>
        </section>
      </div>

      <ion-button float-left icon-left (click)="addIngredientField()">
        <ion-icon name="add"></ion-icon>
        Add a new ingredient
      </ion-button>
      <ion-button
        float-right
        icon-left
        Fill="clear"
        *ngIf="uploadForm.controls.ingredient.length > 1"
        (click)="removeIngredientField()"
      >
        <ion-icon name="close"></ion-icon>
        Remove
      </ion-button>
    </ion-list>

    <ion-button
      Fill="block"
      margin-top
      text-center
      type="submit"
      [disabled]="!uploadForm.valid"
    >
      Submit
    </ion-button>
  </form>

  <ion-item #uploadButtons>
    <ion-button
      *ngIf="!this.fileBlob"
      type="button"
      clear
      (click)="chooseFile()"
    >
      Choose an image!
    </ion-button>
    <ion-button *ngIf="this.fileBlob" type="button" clear (click)="resetForm()">
      Reset
    </ion-button>
  </ion-item>

  <ion-button
    *ngIf="this.fileBlob && this.fileTitle.length > 2"
    type="button"
    block
    (click)="upload()"
  >
    Upload
  </ion-button>

  <ion-card *ngIf="this.fileData">
    <img id="preview" [ngStyle]="getFilters()" [src]="this.fileData" />

    <ion-list>
      <ion-item>
        <ion-range
          min="0"
          max="200"
          step="2"
          [(ngModel)]="brightness"
          pin="true"
        >
          <ion-icon small range-left name="sunny"></ion-icon>
          <ion-icon range-right name="sunny"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-range min="0" max="200" step="2" [(ngModel)]="contrast" pin="true">
          <ion-icon small range-left name="contrast"></ion-icon>
          <ion-icon range-right name="contrast"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-range
          min="0"
          max="200"
          step="2"
          [(ngModel)]="saturation"
          pin="true"
        >
          <ion-icon small range-left name="water"></ion-icon>
          <ion-icon range-right name="water"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-range min="0" max="100" step="2" [(ngModel)]="sepia" pin="true">
          <ion-icon small range-left name="thermometer"></ion-icon>
          <ion-icon range-right name="thermometer"></ion-icon>
        </ion-range>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
