<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <ion-icon
        class="back-arrow"
        name="arrow-round-back"
        (click)="navBack()"
      ></ion-icon>
      <ion-title>Recipe maker</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2 class="uploadCenterer">Post a recipe!</h2>
  <form [formGroup]="uploadForm">
    <ion-item>
      <ion-label position="floating">Recipe Title</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="this.fileTitle"
        formControlName="name"
      ></ion-input>
    </ion-item>

    <h3 class="uploadCenterer">Ingredients</h3>
    <ion-list>
      <div formArrayName="ingredient">
        <section
          [formGroupName]="i"
          *ngFor="
            let ing of uploadForm.controls.ingredient.controls;
            let i = index
          "
        >
          <ion-item-group>
            <ion-item>
              <ion-row>
                <ion-col size="9">
                  <ion-input
                    formControlName="name"
                    class="ingredient"
                    type="text"
                    maxlength="30"
                    placeholder="Ingredient name"
                  ></ion-input>
                </ion-col>
                <ion-col class="flex-row" size="3">
                  <span class="vl"></span>
                  <ion-input
                    formControlName="amount"
                    class="amount"
                    type="text"
                    maxlength="10"
                    placeholder="Amount"
                  ></ion-input>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-item-group>
        </section>
      </div>

      <ion-button float-left icon-left (click)="addIngredientField()">
        <ion-icon name="add"></ion-icon>
        Add a new ingredient
      </ion-button>
      <ion-button
        float-right
        icon-left
        Fill="clear"
        *ngIf="uploadForm.controls.ingredient.length > 1"
        (click)="removeIngredientField()"
      >
        <ion-icon name="close"></ion-icon>
        Remove
      </ion-button>
    </ion-list>

    <h3 class="uploadCenterer">Instructions</h3>
    <div class="textarea">
      <ion-textarea
        class="text"
        formControlName="instructions"
        type="text"
        placeholder="Remember to be descriptive!"
      ></ion-textarea>
    </div>
  </form>

  <div class="uploadCenterer">
    <ion-button
      *ngIf="!this.fileBlob"
      type="button"
      clear
      (click)="chooseFile()"
    >
      Choose an image!
    </ion-button>
    <ion-button *ngIf="this.fileBlob" type="button" clear (click)="resetForm()">
      Reset form
    </ion-button>

    <ion-button
      *ngIf="this.fileBlob && this.uploadForm.valid"
      type="button"
      block
      (click)="upload()"
    >
      Upload
    </ion-button>
  </div>

  <ion-card *ngIf="this.fileData">
    <img id="preview" [src]="this.fileData" />
  </ion-card>
</ion-content>
