<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar class="profilePicture"
    ><img src="{{ profileArray.filename }}"
  /></ion-avatar>
  <ion-list class="userInfo">
    <div lines="none">
      <h2>{{ profileArray.username }}</h2>
      <p>{{ profileArray.full_name }}</p>
    </div>
  </ion-list>

  <ion-button (click)="logout()">
    Logout
  </ion-button>

  <ion-list>
    <ion-card *ngFor="let item of allFiles">
      <ion-card-header>
        <div class="postTitle">
          <ion-card-title>{{ item.title }}</ion-card-title>
          <ion-card-subtitle>{{ profileArray.username }}</ion-card-subtitle>
        </div>

        <ion-icon class="heart-empty" name="heart-empty"></ion-icon>
      </ion-card-header>

      <ion-card-content>
        <img
          class="thumbnail"
          *ngIf="item.media_type == 'image'"
          [alt]="item.title"
          [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + item.filename"
        />
        <img
          *ngIf="item.media_type == 'video'"
          [alt]="item.title"
          [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + item.filename"
        />

        <p>{{ item.description }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
