<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
    <div slot="end">
      <ion-button
        class="clearButton"
        Fill="clear"
        (click)="presentPopover($event)"
      >
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img id="backgroundImage" src="../../../assets/Gc-Background6.jpg" />

  <ion-avatar class="profilePicture"
    ><img src="{{ profileArray.filename }}"
  /></ion-avatar>
  <ion-list class="userInfo">
    <div lines="none">
      <h2>{{ profileArray.username }}</h2>
      <p>{{ profileArray.full_name }}</p>
    </div>
  </ion-list>

  <div class="postsButtons">
    <ion-button
      id="uploadsButton"
      class="clearButton"
      Fill="clear"
      (click)="profilesUploads()"
      [ngStyle]="{ 'background-color': buttonColor }"
    >
      Uploads
    </ion-button>
    <ion-button
      id="favouritesButton"
      class="clearButton"
      Fill="clear"
      (click)="profilesFavourites()"
      [ngStyle]="{ 'background-color': buttonColor2 }"
    >
      Favourites
    </ion-button>
  </div>

  <ion-list *ngIf="!favouritesTab">
    <ion-card *ngFor="let item of allFiles" (click)="showSinglePost(item)">
      <ion-card-header>
        <div class="postTitle">
          <ion-card-title>{{ item.title }}</ion-card-title>
          <ion-card-subtitle>{{ profileArray.username }}</ion-card-subtitle>
        </div>

        <button *ngIf="!item.favourited">
          <ion-icon
            (click)="favouritePost(item)"
            class="heart"
            name="heart-empty"
          ></ion-icon>
        </button>
        <button *ngIf="item.favourited">
          <ion-icon
            (click)="unFavouritePost(item)"
            class="heart"
            name="heart"
          ></ion-icon>
        </button>
      </ion-card-header>

      <ion-card-content>
        <div class="image-container">
          <img
            class="thumbnail"
            *ngIf="item.media_type == 'image'"
            [alt]="item.title"
            [src]="
              'http://media.mw.metropolia.fi/wbma/uploads/' +
              (item.file_id | thumbnail: 'large' | async)
            "
          />
          <img
            class="thumbnail"
            *ngIf="item.media_type == 'video'"
            [alt]="item.title"
            [src]="
              'http://media.mw.metropolia.fi/wbma/uploads/' +
              (item.file_id | thumbnail: 'screenshot' | async)
            "
          />
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-list *ngIf="favouritesTab">
    <ion-card
      *ngFor="let item of arrayOfFavourites"
      (click)="showSinglePost(item)"
    >
      <ion-card-header>
        <div class="postTitle">
          <ion-card-title>{{ item.title }}</ion-card-title>
          <ion-card-subtitle>{{
            item.user_id | userData | async
          }}</ion-card-subtitle>
        </div>

        <ion-icon
          *ngIf="!item.favourited"
          (click)="favouritePost(item)"
          class="heart"
          name="heart-empty"
        ></ion-icon>
        <ion-icon
          *ngIf="item.favourited"
          (click)="unFavouritePost(item)"
          class="heart"
          name="heart"
        ></ion-icon>
      </ion-card-header>

      <ion-card-content>
        <div class="image-container">
          <img
            class="thumbnail"
            *ngIf="item.media_type == 'image'"
            [alt]="item.title"
            [src]="
              'http://media.mw.metropolia.fi/wbma/uploads/' +
              (item.file_id | thumbnail: 'large' | async)
            "
          />
          <img
            class="thumbnail"
            *ngIf="item.media_type == 'video'"
            [alt]="item.title"
            [src]="
              'http://media.mw.metropolia.fi/wbma/uploads/' +
              (item.file_id | thumbnail: 'screenshot' | async)
            "
          />
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
