// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$colors: (
  primary: #64ad4e,
  secondary: #3f6e31,
  tertiary: #90fa71,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222
);

/** Gc colors **/
$gc-primary: #64ad4e;
$gc-secondary: #3f6e31;
$gc-tertiary: #90fa71;
$gc-light: #f4f4f4;
$gc-dark: #222222;
$gc-danger: #f53d3d;

/** Gc font **/
$font-family: "helvetica Neue";

:root {
  /* Set the background of the entire app */
  --ion-background-color: #f4f4f4;

  ion-button {
    color: $gc-light;
    --background: #64ad4e;
  }

  ion-icon {
    font-size: 28px;
  }
  .back-arrow {
    margin-left: 8px;
  }

  .toolbar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  .clearButton {
    --color-activated: #64ad4e;
    color: $gc-secondary;
    --background: $gc-light;
  }

  .feedDesc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .centerer {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }
}
