// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$colors: (
  primary: #64ad4e,
  secondary: #3f6e31,
  tertiary: #90fa71,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222
);

/** Gc colors **/
$gc-primary: #64ad4e;
$gc-secondary: #3f6e31;
$gc-tertiary: #90fa71;
$gc-light: #f4f4f4;
$gc-dark: #222222;
$gc-danger: #f53d3d;

:root {
  /* Set the background of the entire app */
  --ion-background-color: #f4f4f4;
  $tabs-md-tab-color-active: color($colors, dark);
  /** Gc colors **/
  $gc-primary: #64ad4e;
  $gc-secondary: #3f6e31;
  $gc-tertiary: #90fa71;
  $gc-light: #f4f4f4;
  $gc-dark: #222222;
  $gc-danger: #f53d3d;

  --ion-font-family: "Crimson Text", serif;
  font-size: 18px;

  .sans-serif {
    font-family: "Nanum Gothic", sans-serif;
  }

  ion-card-subtitle {
    font-family: "Nanum Gothic", sans-serif;
  }

  ion-button {
    color: $gc-light;
    --background: #64ad4e;
    --border-color: $gc-secondary;
    font-family: "Nanum Gothic", sans-serif;
  }

  ion-icon {
    font-size: 28px;
  }

  .big-icon {
    font-size: 40px;
  }

  ion-card {
    ion-card-header {
      display: flex;
      flex-flow: row;
      ion-avatar {
        width: 64px;
      }
      .postTitle {
        margin-left: 10px;
        width: 77%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
          display: block;
        }
      }
    }
  }

  .image-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    object-fit: contain;
    border-radius: 4px;
  }

  .thumbnail {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    border-radius: 4px;
  }

  .heart {
    color: #64ad4e;
    font-size: 28px;
  }

  .back-arrow {
    margin-left: 8px;
  }

  .trash {
    margin-right: 8px;
  }

  .error-message {
    color: $gc-danger;
  }

  .toolbar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  .clearButton {
    --color-activated: #64ad4e;
    color: $gc-secondary;
    --background: $gc-light;
  }

  .feedDesc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .centerer {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .error-message {
    margin-top: 4px;
    color: $gc-danger;
    font-size: 11px;
  }

  ion-toolbar {
    ion-title {
      color: $gc-secondary;
    }
    ion-icon {
      color: $gc-secondary;
    }
  }
}
