.thumbnail {
  width: fit-content;
  margin-right: 8px;
}

ion-card-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  .postTitle {
    display: block;
  }
}

.heart-empty {
  color: #64ad4e;
  font-size: 28px;
}

.item {
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
  }
  p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    color: gray;
  }
}
.viewButton {
  float: right;
}
