<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <ion-title>
        Home
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let item of postArray">
      <ion-card-header>
        <ion-avatar>
          <img [src]="item.profilePicUrl" />
        </ion-avatar>
        <div class="postTitle">
          <div class="postTitle">
            <ion-card-title (click)="showSinglePost(item)">{{
              item.title
            }}</ion-card-title>
            <ion-card-subtitle>{{
              item.user_id | userData | async
            }}</ion-card-subtitle>
          </div>

          <ion-icon
            *ngIf="!item.favourited"
            (click)="favouritePost(item)"
            class="heart"
            name="heart-empty"
          ></ion-icon>

          <ion-icon
            *ngIf="item.favourited"
            (click)="unFavouritePost(item)"
            class="heart"
            name="heart"
          ></ion-icon>
        </div>
      </ion-card-header>

      <ion-card-content>
        <div (click)="showSinglePost(item)" class="image-container">
          <img
            class="thumbnail"
            *ngIf="item.media_type == 'image'"
            [alt]="item.title"
            [src]="
              'http://media.mw.metropolia.fi/wbma/uploads/' +
              (item.file_id | thumbnail: 'large' | async)
            "
          />
          <img
            class="thumbnail"
            *ngIf="item.media_type == 'video'"
            [alt]="item.title"
            [src]="
              'http://media.mw.metropolia.fi/wbma/uploads/' +
              (item.file_id | thumbnail: 'screenshot' | async)
            "
          />
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="this.mediaProvider.loggedIn" (click)="uploadClick()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
